services:

  micro_documents_api:
    container_name: micro_lvr_api
    build: ./src/
    env_file:
      - ./src/.env
    ports:
      - "5001:8000"
    volumes:
      - .:/src
    depends_on:
      - micro_lvr_db
    restart: always
    networks:
      - api_network

  micro_lvr_db:
    image: docker.io/bitnami/postgresql:16
    container_name: micro_lvr_db
    ports:
      - "5434:5432"
    env_file:
      - ./src/.env
    volumes:
      - db-micro-lvr-volume:/var/lib/postgresql
    networks:
      - api_network

networks:
  api_network:
    driver: bridge
    
volumes:
  db-micro-lvr-volume: