<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 m-0 p-0 font-sans">
    <div class="min-h-screen flex items-center justify-center p-2 sm:p-4">
        <div class="w-full max-w-md bg-white rounded-lg shadow-2xl">
            <!-- Header azul con logo -->
            <div class="bg-[#002B5B] rounded-t-lg flex justify-center items-center py-3 sm:py-4 md:py-4 bg-cover bg-center" style="background-image: url('static/header_email.png');">
                <img src="static/Naowee_logo_header_mail.png" class="h-3 sm:h-4 md:h-5">
            </div>
            <!-- Contenido principal -->
            <div class="px-3 sm:px-8 py-6 bg-[#FDFDFD]">
                <h2 class="text-center text-xl font-bold text-[#0F2335] mb-2 font-[helvetica]">¡Hola!</h2>
                <p class="text-center font-bold text-[#0F2335] mb-7 font-[helvetica]">{{ name }}</p>
                <p class="text-left text-gray-600 mb-3 font-[helvetica] text-[12px]">¡Hemos recibido tus documentos con éxito!</p>
                <p class="text-gray-600 mb-6 font-[helvetica] leading-relaxed text-justify text-[12px]">
                    En breve, nuestro equipo se pondrá en contacto contigo para ofrecerte la mejor solución adaptada a tus necesidades.
                    Mientras tanto, síguenos en nuestras redes sociales para conocer más sobre cómo estamos transformando organizaciones como la tuya.
                </p>
                <!-- Botón y redes -->
                <div class="flex flex-col items-center mb-4">
                    <div class="bg-gray-200 text-[#001226] px-4 sm:px-6 py-2 rounded-full font-semibold relative z-10 text-sm sm:text-base">Conéctate con nosotros</div>
                    <div class="bg-[#F7F7F7] rounded-xl px-4 sm:px-12 -mt-4 z-0 pt-6 sm:pt-8 pb-5 sm:pb-7 flex flex-wrap justify-center gap-4 sm:gap-6 w-full">
                        <a href="#" target="_blank">
                            <img src="static/Facebook.svg" class="h-7 w-7" />
                        </a>
                        <a href="#" target="_blank">
                            <img src="static/Instagram.svg" class="h-7 w-7" />
                        </a>
                        <a href="#" target="_blank">
                            <img src="static/Linkeding.svg" class="h-7 w-7" />
                        </a>
                        <a href="#" target="_blank">
                            <img src="static/Global.svg" class="h-7 w-7" />
                        </a>
                    </div>
                </div>
                
                <h3 class="text-center font-bold text-[#001226]  font-[helvetica]">¡Gracias por elegirnos!</h3>
                <p class="text-center text-g[#0F2335] text-sm mb-2 font-[helvetica]">
                    Si tienes alguna pregunta o inquietud, no dudes en contactarnos.
                </p>
            </div>
            <!-- Footer azul -->
            <div class="bg-[#002B5B] rounded-b-lg py-3 text-center">
                <p class="text-white text-xs m-0 font-[helvetica]">© 2024 Naowee. Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</body>
</html>
